body {
  font-family: 'Inter', sans-serif;
}



.password-input {
  padding-right: 40px; 
}


table.border-separate {
    border-spacing: 0 8px; 
}

table.border-separate tbody tr {
    
    display: table-row;
    vertical-align: middle;
}